.logo {
@extend %link;
padding-top: 24px;
padding-bottom: 24px;
width: 120px;
margin-right: 88px;

color: $textColorAccent;
font-family: $secondaryTextFont;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

@media screen and (min-width: 1200px) {
width: 145px;
margin-right: 93px;
}

&__footer {
margin-right: 0;
}

&__page-nav{
color: $textColorLogo;

@media screen and (min-width: 1200px) {
margin-right: 93px;
}}

&__page-footer {
margin-right: auto;
margin-bottom: 20px;
margin-left: 0;

&--bottom {
color: $backGroundColorMain;
}

@media screen and (max-width: 767px) {
text-align: center;
}}}


