.projects {
padding: 94px 0px;

&__title {
margin-bottom: 50px;

font-family: $mainTextFont;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: $textColorHeaders;
}

&__button-list {
@extend %list;
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}

&__button-item {
&:not(:last-child) {
margin-right: 8px;
}}}

// CARDS ------------------------------>
.projects-card {
&__list {
@extend %list;
display: flex;
flex-wrap: wrap;
}

&__item {
flex-basis: calc((100% - 2 * 30px)/3);
margin-right: 30px;
margin-bottom: 30px;

&:nth-child(3n) {
margin-right: 0;
}

&:nth-last-child(-n + 3) {
margin-bottom: 0;
}}

&__link {
@extend %link;
display: block;

transition: box-shadow $transitionCubic;

&:hover,
&:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}}

&__wrap {
padding: 20px 24px;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}

&__name {
margin-bottom: 4px;

font-family: $mainTextFont;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: $textColorHeaders;
}

&__type {
font-family: $mainTextFont;
line-height: 1.88;
letter-spacing: 0.03em;
color: $textColorMain;
}}