

// COLORS-------------------------------------------------------------------->
$textColorMain: #757575;
$textColorAccent: #2196f3;
$textColorHeaders: #212121;
$backGroundColorMain: #ffffff;
$backGroundColorSecondary: #2f303a;
$backGroundColorThird: #f5f4fa;
$textColorLogo: #000000;


// FONTS ---------------------------------------------------------------------->
$mainTextFont: Roboto, sans-serif;
$secondaryTextFont: Raleway, sans-serif;
$headerFontSize: 14px;

// TRANSITION CUBIC ------------------------------------------------------------>
$transitionCubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);